.todo-item {
  display: flex;
  margin-bottom: 0.5rem;
}

.todo-item-content {
  width: 500px;
  font-size: 1.25rem;
  cursor: pointer;
}

.todo-item-content-done {
  text-decoration: line-through;
}

.todo-item-remove-button {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}
